<div class="block-service">
  
  <div class="collection-grid-items">
    <div class="grid-service">
      
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="service">
          <div class="icon-service">
          <span class="icon icon-rocket icons"></span>
          </div>
          <div class="media-body">
          <h4 class="title_block">{{lang 'ap-base-3.service-wrap.title1'}}</h4>
          
          
          <p class="text_service">{{lang 'ap-base-3.service-wrap.description1'}}</p>
        </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="service">
          <div class="icon-service">
          <span class="icon icon-credit-card icons"></span>
          </div>
          <div class="media-body">
          <h4 class="title_block">{{lang 'ap-base-3.service-wrap.title2'}}</h4>
          
          
          <p class="text_service">{{lang 'ap-base-3.service-wrap.description2'}}</p>
        </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="service">
          <div class="icon-service">
            <span class="icon icon-wallet icons"></span>
          </div>
          
          <div class="media-body">
          <h4 class="title_block">{{lang 'ap-base-3.service-wrap.title3'}}</h4>
          
          
          <p class="text_service">{{lang 'ap-base-3.service-wrap.description3'}}</p>
        </div>
        </div>
      </div>
      
    </div>
  </div>

  
</div>
