<div class="flex-item left__block col-lg-5 col-md-5 col-sm-12 col-xs-12 col-sp-12">
    <h5 class="footer-info-heading page-heading">{{lang 'newsletter.subscribe'}}</h5>
    <p class="des_newsletter">{{lang 'newsletter.subscribe_intro'}}</p>
    </div>
<div class="flex-item flex-grow right__block col-lg-6 col-md-6 col-sm-12 col-xs-12 col-sp-12">
    <form class="form" action="{{urls.subscribe.action}}" method="post">
        <fieldset class="form-fieldset">
            <input type="hidden" name="action" value="subscribe">
            <input type="hidden" name="nl_first_name" value="bc">
            <input type="hidden" name="check" value="1">
            <div class="form-field">
                <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
                <div class="form-prefixPostfix wrap">
                    <input class="form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
                    <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
                </div>
            </div>
        </fieldset>
    </form>
</div>
