<div class="section__title ">
        {{#if theme_settings.theme_variation '==' 'ap-base-1'}}
        <h2 class="page-heading">{{lang 'ap-base-1.featured-products.featured' }}</h2>
        {{else if theme_settings.theme_variation '==' 'ap-base-2'}}
        <h2 class="page-heading">{{lang 'ap-base-2.products-tab.title' }}</h2>
        {{else if theme_settings.theme_variation '==' 'ap-base-3'}}
        <h2 class="page-heading">{{lang 'ap-base-3.products-featured.featured' }}</h2>
        <span class="des_productlist">The best facility-related products and services on the market.</span>
        {{else}}
        <h2 class="page-heading">{{lang 'ap-base-4.featured-products.featured' }}</h2>
        {{/if}}
</div>
<ul class="productGrid productGrid--maxCol{{ columns }}" data-product-type="featured" data-product-type="featured"
	data-slick='{
        "dots": false,
        "arrows": false,
        "infinite": false,
        "mobileFirst": true,
        "rows":{{ slickrow }},
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "responsive": [
            {
                "breakpoint": 1260,
                "settings": {
                    "slidesToScroll": 3,
                    "slidesToShow": {{ columns }}
                }
            },
            {
                "breakpoint": 800,
                "settings": {
                    "slidesToScroll": 3,
                    "slidesToShow": 3
                }
            },
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToScroll": 2,
                    "slidesToShow": 2
                }
            }
        ]
    }'>
    {{#each products}}
        <li class="product">
            {{>components/products/card theme_settings=../theme_settings customer=../customer show_rating=../settings.show_product_rating show_compare=../settings setting_show = ../settings}}
        </li>
    {{/each}}
</ul>
